$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1{
  text-align: center;
  color: red;
}

.gameboard{
  width: 303px;
  height: 303px;
  border: 1px solid black;
}

.gameboard div{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  float: left;
  font-size: 70px;
  text-align: center;
}

#sign-up {
  text-align: center;
}

.email {
  clear: both;
}

.password {
  clear: both;
}

.password_confirmation {
  clear: both;
}

#btn-sign-out {
  margin-top: 20px;
}
